* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}
body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
#root {
    width: 90%;
    max-width: 420px;
    min-width: 300px;
    margin: 0 auto;
    padding: 5vh 0;
}
.top-panel {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 5px;
}