.todo-list-item {
    display: flex;
    padding: 0.5rem 1rem 0.5rem 2rem;
}
.todo-list-item-label {
    display: inline-flex;
    align-self: center;
    flex: 1;
}
.todo-list-item-label:last-child {
    border: none;
}
.btn:hover {
}
.btn-trash,
.btn-exclamation {
    height: 3rem;
    width: 3rem;
    margin: 0 0 0 0.5rem;
}
.btn-trash:hover,
.btn-exclamation:hover {
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.5);
}
.trash-icon {
    height: 60%;
    fill: rgb(214, 24, 24);
}
.btn-exclamation:before {
    content: "!";
    font-size: 2rem;
    font-weight: bold;
    color: rgb(2, 87, 2);
}